.mc-field-group,
.mktoFormCol {
	padding-bottom:						30px;
}

.mc-field-group ul {
	list-style: 							none;
	margin:									0;
	padding:									0;
}

.checkbox,
.mktoCheckboxList,
.mktoRadioList,
.mc-field-group input[type="checkbox"],
.hs-form-booleancheckbox {
	margin-bottom:							5px;
	position:								relative
}

.mktoCheckboxList,
.mktoRadioList,
.hs-form-booleancheckbox {
	margin-bottom:							14px;
}

.checkbox__label,
.mktoCheckboxList label,
.mktoRadioList label,
.mc-field-group input[type="checkbox"] ~ label,
.hs-form-booleancheckbox label span {
	color:									#534C6C;
	cursor:									pointer;
	display:									block;
	position:								relative;
	padding-left:							30px
}

.checkbox__label:before,
.mktoCheckboxList label:before,
.mktoRadioList label:before,
.mc-field-group input[type="checkbox"] ~ label:before,
.hs-form-booleancheckbox label span::before {
	background-color:						#fff;
	border:									1px solid #979797;
	pointer-events:						none;
	-webkit-user-select:					none;
	-moz-user-select:						none;
	-ms-user-select:						none;
	user-select:							none;
	-webkit-transition:					.2s ease-in-out;
	transition:								.2s ease-in-out;
}

.mktoRadioList label:before {
	border-radius:							50%;
}

.checkbox__label:after,
.checkbox__label:before,
.mktoCheckboxList label:after,
.mktoCheckboxList label:before,
.mktoRadioList label:before,
.mktoRadioList label:after,
.mc-field-group input[type="checkbox"] ~ label:after,
.mc-field-group input[type="checkbox"] ~ label:before,
.hs-form-booleancheckbox label span::after,
.hs-form-booleancheckbox label span::before {
	content:									'';
	display:									block;
	position:								absolute;
	top:										10px;
	left:										0;
	width:									20px;
	height:									20px;
}

.mktoCheckboxList label:after,
.mktoCheckboxList label:before,
.hs-form-booleancheckbox label span::after,
.hs-form-booleancheckbox label span::before {
	top:										0;
}

.mktoRadioList label:before,
.mktoRadioList label:after {
	top:										calc(50% - 10px);
}

.checkbox__label:after,
.mktoCheckboxList label:after,
.mc-field-group input[type="checkbox"] ~ label:after,
.hs-form-booleancheckbox label span::after {
	background-repeat:					no-repeat;
	background-position:					50%;
	background-size:						50% 50%;
}

.mktoRadioList label:after {
	-webkit-transform:					scale(0.6);
	transform:								scale(0.6);
}

.checkbox__input,
.mktoCheckboxList input[type="checkbox"],
.mktoRadioList input[type="radio"],
.mc-field-group input[type="checkbox"],
.hs-form-booleancheckbox label input[type="checkbox"] {
	opacity:									0;
	position:								absolute;
	z-index:									-1;
}

.checkbox__input:checked ~ .checkbox__label:before,
.mktoCheckboxList input[type="checkbox"]:checked ~ label:before,
.mktoRadioList input[type="radio"]:checked + label:before,
.mc-field-group input[type="checkbox"]:checked ~ label:before,
.hs-form-booleancheckbox label input[type="checkbox"]:checked ~ span:before {
	background-color:						#406FB8;
	border-color:							#406FB8;
}

.checkbox__input:checked ~ .checkbox__label:after,
.mktoCheckboxList input[type="checkbox"]:checked ~ label:after,
.mc-field-group input[type="checkbox"]:checked ~ label:after,
.hs-form-booleancheckbox label input[type="checkbox"]:checked ~ span:after {
	background-image:						url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 12'%3E%3Cpath fill='%23fff' d='M12.5 0L4.6 8.6 1.5 5.3 0 7l4.6 5L14 1.7z'/%3E%3C/svg%3E");
	background-position:					50%;
	background-repeat:					no-repeat;
	background-size:						12px 14px;
}

.radio__input:checked ~ .radio__label:after,
.mktoCheckboxList input[type="radio"]:checked + label:after,
.mc-field-group input[type="radio"]:checked + label:after {
	background-color:						#FFFFFF;
}

select.form-control,
.select,
select.mktoField,
.mc-field-group select {
	-webkit-appearance:					none;
	-moz-appearance:						none;
	appearance:								none;
	border-radius:							0;
	display:									inline-block;
	vertical-align:						middle;
    background-image:					url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 8'%3E%3Cpath fill='%232379bc' d='M14 1.5L12.5.1 7 5.2 1.5 0 0 1.4 7 8z'/%3E%3C/svg%3E");
	background-position:					right 15px center;
	background-repeat:					no-repeat;
	background-size:						14px 8px;
	background-clip:						padding-box;
	background-color:						#F4F5FB;
	border:									1px solid #E9E9E9;
	color:									#0C022F;
	display:									block;
	min-height:								50px;
	outline:									0;
	padding:									10px 15px;
	text-transform:						uppercase;
	-webkit-transition:					border-color .2s ease-in-out;
	transition:								border-color .2s ease-in-out;
	width:									100%;
	font-weight:							600;
	font-size:								14px;
	font-size:								1.4rem;
	line-height:							2;
}

.select.block {
	display:									block;
}

.form__label,
.mktoLabel {
	margin-bottom:							6px;
	text-transform:						uppercase;
	font-weight:							600;
	line-height:							1.28571;
}

.mktoFieldWrap.mktoRequiredField .mktoLabel .mktoAsterix {
	display:									inline;
	color:									#2379BC;
}

.mktoFieldWrap:not(.mktoRequiredField) .mktoAsterix {
	display:									none;
}

.form__error-msg,
.form__label,
.mktoLabel {
	font-size:								14px;
	font-size:								1.4rem;
}

.mktoButtonWrap {
	display:									block;
}

.mktoButton,
.hs-button,
input.button {
	display:									block;
	width:									100%;
	min-width:								160px;
	height:									50px;
	padding:									0 20px;
	line-height:							46px;
	background-color:						#406FB8;
	border:									2px solid #406FB8;
	border-radius:							50px;
	text-align:								center;
	vertical-align:						middle;
	white-space:							nowrap;
	text-decoration:						none;
	text-transform:						uppercase;
	-webkit-transition:					background-color .3s ease,border-color .3s ease,color .3s ease;
	transition:								background-color .3s ease,border-color .3s ease,color .3s ease;
	font-size:								14px;
	font-weight:							600;
	color:									#FFFFFF;
	cursor:									pointer;
}

.mktoButton:hover,
input.button:hover {
	background-color:						#0960A3;
	border-color:							#0960A3;
	color:									#FFFFFF;
}

.mktoErrorMsg {
	padding:									10px 15px;
	font-weight:							600;
	color:									#FFFFFF;
	background-color:						#C0392B;
}

.leadgen-complete {
	max-width:								66.666%;
	margin:									50px 16.656% 100px 16.666%;
	text-align:								center;
}

.leadgen-complete .wp-block-button__link {
	display:									block;
	margin-top:								30px;
}

/*
	HUBSPOT
*/

.hbspt-form .submitted-message {
	text-align:								center;
}

.form-columns-2 {
	margin-left:							-15px!important;
	margin-right:							-15px!important;
}

.form-columns-2 .hs-form-field {
	padding-left:							15px;
	padding-right:							15px;
}

.hs-input {
	width:									100%!important;
}

.hs-form-field {
	margin-bottom:							30px;
}

.hs-submit {
	margin-top:								10px;
}

.hs-form .input ul {
	margin-top:								0;
	padding:									0;
}

.hs-form fieldset {
	margin-bottom:							0!important;
	max-width:								none!important;
}

.hs-form textarea {
	min-height:								200px;
}

.hs-form .input {
	margin-right:							0!important;
}

.hs-form-booleancheckbox a {
	text-decoration:						underline;
}

.inputs-list {
	list-style-type:						none;
	margin:									0;
	padding:									0;
}

.hs-error-msgs {
	list-style-type:						none;
	margin:									0;
	padding:									0;
}

.hs-error-msgs li {
	color:									#F16856;
	margin-top:								2px;
	font-size:								14px;
	font-size:								1.4rem;
	line-height:							1.85714;
}

/*
	CONVERTR
*/

#cvtr-form-container .form-group {
	margin-bottom:  2.500rem;
}

#cvtr-form-container input[type="checkbox"],
#cvtr-form-container input[type="radio"] {
	display: inline;
	width: auto;
	min-height: 0;
	margin-right: 1rem;
}