/*
	CONTENT BLOCKER
 */

.content-area.locked {
	position: relative;
	overflow: hidden;
}

.hide {
	display: none;
}

.lock-content-bar {
	position: relative;
}

.lock-content-bar.completed {
	display: none;
}

.lock-content-bar::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 100%;
	display: block;
	width: 100%;
	height: 15rem;
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 80%);
}

.acf-block-preview .lock-content-bar::before {
	content: none;
}

.lock-content-banner {
	padding: 5rem 0;
	text-align: center;
}

.lock-content-banner__col {
	position: relative;
	width: 100%;
	min-height: 1px;
	padding-right: 3rem;
	padding-left: 3rem;
}

.lock-content-banner__title {
	font-size: 2.80rem;
	line-height: 1.4;
	font-weight: 500;
}

.lock-content-banner__content p: last-of-type {
	margin-bottom: 0;
}

.lock-content-banner__button {
	margin-top: 3rem;
}

@media (min-width: 768px) {
	.lock-content-banner {
		padding: 10rem 3rem;
	}

	.lock-content-banner__button {
		margin-top: 5rem;
	}
}

@media (min-width: 992px) {
	.lock-content-banner__content,
	.lock-content-banner__title {
		margin-left: auto;
		margin-right: auto;
		max-width: 66.66%;
	}
}